.admin-navbar-atag { margin-top: 10px; font-size: 18px; }

input, select, textarea { max-width: 350px; }

div .table-buttons { position: relative; left: 315px; }

table.sorting tr:not(.home) { cursor: pointer; }

.ui-state-highlight { border: 1px dashed #ccc; }

div .success-msg { width: 250px; text-align: center; }

div.new-cat { margin-top: 30px; position: relative; }

input#new-cat-name { margin-bottom: 15px; margin-top: -10px; }

span.ajax-text { display: none; }

a#delete-category-btn { margin-left: -610px; margin-top: 2px; }

table.sorting.categories td { padding: 20px !important; }